<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1> Login </h1>
    <nav>
        <a href='/' > Home </a>
    </nav>
    <form method = 'post' action = '/login'>
        

    <div>
        <label> E-mail: </label>
        <input type = 'email' name = 'e_mail' placeholder = "E-mail" required > <br>
    </div>

    <div>
        <label> Password: </label>
        <input type = 'password' name = 'pass_word' placeholder = 'Password' required > <br>
    </div>

    </div>
        
        <input type = 'submit'  value="Login" >

    </form>
    
</body>
</html>